@tailwind base;
@tailwind components;
@tailwind utilities;


.cyanFilter{
	filter: invert(93%) sepia(4%) saturate(3124%) hue-rotate(178deg) brightness(116%) contrast(88%);
}

.cyanFilter:hover{
	filter: invert(46%) sepia(44%) saturate(3504%) hue-rotate(163deg) brightness(98%) contrast(101%);
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb{
	background-color: #495670;
	border: 3px solid #1b1f24;
	border-radius: 10px;
}
::-webkit-scrollbar-track {
	background-color: #1b1f24;
}

::selection{
	background-color: #233554;
	color: #ccd6f6;
}

.loader {
	width: 64px;
	height: 64px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	position: fixed;
	background: rgba(255, 255, 255, 0.8);
  }
  .loader:before , .loader:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: #FFF;
	animation: slide 1s infinite linear alternate;
	opacity: 0.5;
  }
  .loader:after {
	animation: slide2 1s infinite linear alternate;
	opacity: 1;

  }
  @keyframes slide {
	0% , 20% {  transform: translate(0, 0)  }
	80% , 100% { transform: translate(15px, 15px) }
  }
  @keyframes slide2 {
	0% , 20% {  transform: translate(0, 0) }
	80% , 100% { transform: translate(-15px, -15px) }
  }
