@tailwind base;
@tailwind components;
@tailwind utilities;


.cyanFilter{
	filter: invert(93%) sepia(4%) saturate(3124%) hue-rotate(178deg) brightness(116%) contrast(88%);
}

.cyanFilter:hover{
	filter: invert(46%) sepia(44%) saturate(3504%) hue-rotate(163deg) brightness(98%) contrast(101%);
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb{
	background-color: #495670;
	border: 3px solid #0a192f;
	border-radius: 10px;
}
::-webkit-scrollbar-track {
	background-color: #0a192f;
}

::selection{
	background-color: #233554;
	color: #ccd6f6;
}